@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  color: #333333;
  font-family: "Open Sans", sans-serif;
  line-height: 1;

  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: rgba(141, 163, 184, 0.8);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fafafa;
}

::-webkit-scrollbar {
  scrollbar-gutter: stable both-edges;
  width: 8px;
}
